.mynavbar{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: #EFEFEF;
    // background-image: linear-gradient(to top, #ffffff, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb);
    // background-image: linear-gradient(to bottom, #0d6bbc, #126dbc, #166fbd, #1a71bd, #1e73bd);
    // background-color: #ffffff;
    // background-color: #1e73bd;
    box-shadow: inset 0px -10px 20px -10px rgba(200, 200, 200, 0.5);
    z-index: 999;
    transition: 0.7s ease;
        .container{
            .navbar-brand{
                img{
                    max-width: 200px;
                    @media(max-width: 575px){
                        max-width: 150px;
                    }
                }
            }
            .collapse, .collapsing{
                .nav-item{
                    padding-right: 25px;

                    @media(max-width: 991px){
                        padding-right: 0;
                    }
                    .nav-link{
                        font-size: 15px;
                        // color: #69707A;
                        color: #000000;
                        user-select: none;
                        transition: 0.5s ease;
                        font-weight: 500;
                        &:hover{
                            opacity: 0.7;
                        }
                    }

                }
            }
            .search-box{
                .search{
                    i{
                        cursor: pointer;
                    }
                }
            }
        }
}

.myactive{
    opacity: 0.8;
// position: relative;
// color: #ffffff;
// &::after{
//     position: absolute;
//     width: 3px;
//     height: 3px;
//     background-color: #ffffff;
//     border-radius: 50%;
//     content: "";
//     left: 50%;
//     top: 80%;
//     @media(max-width: 991px){
//         display: none;
//     }
// }
}