html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $font;
  // background: #ffffff;
  background-image: linear-gradient(to top, #ffffff, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb);
}
.main-content{
  margin-top: 100px;
  overflow: hidden;
  
  @media(max-width: 767px){
    margin-top: 80px;
  }
  @media(max-width: 575px){
    margin-top: 70px;
  }
  
  .container{
    .row{
     
      .col-md-8{
        .mobile-search{
          display: none;
          @media(max-width: 767px){
            display: block;
          }
        }
      .detail-section{
       
        .title{
          color: $font-color;
          font-size: 22px;
          font-weight: 600;
          @media(max-width: 1200px){
            font-size: 19px;
          }
          @media(max-width: 991px){
            font-size: 18px;
          }
         
        }
        .top-detail{
          margin-bottom: 7px;
          padding-bottom: 7px;
          border-bottom: 1px solid $font-color;
          span{
            color: $font-color;
            font-size: 14px;
            font-weight: 400;
            border-right: 1px solid $font-color;
            padding: 0 15px;
            @media(max-width: 575px){
              font-size: 13px;
            }
            @media(max-width: 435px){
              padding: 0 10px;
            }
            @media(max-width: 407px){
              padding: 0 5px;
            }
            @media(max-width: 382px){
              padding: 0 3px;
            }
            &:first-child{
              padding-left: 0;
            }
            &:last-child{
              border-right: 0px;
            }
          }
        }
        .main-image{
          overflow: hidden;
          a{
            text-decoration: none;
            overflow: hidden;
            color: #14A800;
            img{
              width: 100%;
              overflow: hidden;
              transition: 1s ease;
              &:hover{
                transform: scale(1.2);
              }
            }
          }
        }
        .bio-wiki{
          margin-top: 16px;
          h5{
            color: #333333;
            font-size: 18px;
            font-weight: 600;
            border-bottom: 1px solid #333333;
            padding-bottom: 5px;
            @media(max-width: 767px){
              font-size: 16px;
            }
          }
          .bio-detail{
            display: flex;
            flex-direction: row;
            align-items: center;
            @media(max-width: 767px){
              // display: unset;
              align-items: unset;
              display: unset;
            }
            .bio-detail-left{
              width: 20%;
              // @media(max-width: 991px){
              //   width: 40%;
              // }
              @media(max-width: 767px){
                width: 100%;
              }
              p{
               margin-bottom: 7px;
               font-size: 14px;
               color: $font-color;
               @media(max-width: 767px){
                font-weight: 500;
                color: #000000;
                margin-bottom: 0;
               }
               @media(max-width: 575px){
                font-size: 13px;
               }
              }
            }
            .bio-detail-right{
              width: 70%;
              margin-left: 50px;
              @media(max-width: 767px){
                width: 100%;
                margin-left: 0;
                // margin-left: 20px;
              }
             
              p{
                margin-bottom: 7px;
                font-size: 14px;
                color: $font-color;
                @media(max-width: 575px){
                  font-size: 13px;
                }
                a{
                  color: #1E73BD;
                }
              }
            }
            .relationship{
              p{
                margin-bottom: 0;
              }
            }
            .family{
              p{
                margin-bottom: 0;
              }
            }
            .car{
              p{
                margin-bottom: 0;
              }
            }
            .career{
            
              .film{
                p{
                  margin: 0;
                }
              .image{
                width: 150px !important;
                height: 150px !important;
                a{
                  img{
                   max-width: 100%;
                   height: auto;
                  }
                }
              }
              }
              .tv{
                margin-top: 10px;
                p{
                  margin: 0;
                }
                .image{
                  width: 150px !important;
                  height: 150px !important;
                  a{
                    img{
                      max-width: 100%;
                      height: auto;
                    }
                  }
                }
              }

            }

            .knowfacts{
              p{
                font-size: 14px;
                color: #333333;
                @media(max-width: 575px){
                  font-size: 13px;
                }
                a{
                  color: #1E73BD;
                }
              }
            }
          }
          .moneyfactorimg{
            p{
              font-size: 12px;
              color: #333333;
            }
            a{
              img{
                width: 324px;
                // height: 200px;
                @media(max-width: 767px){
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
      .suggestion{
        .link-prev{
          display: flex;
          flex-direction: row;
          align-items: center;
          .prev{
            width: 30px;
            i{
              font-size: 22px;
              cursor: pointer;
              color: #333333;
            }
          }
          .link{
            a{
              color: #1E73BD;
              font-size: 14px;
            }
          }
        }
      }

      .add{
        overflow: hidden;
      }
      .comment-wrapper{
        h5{
          color: #138496;
          margin-bottom: 16px;
        }
        form{
          font-size: 14px;
          input{
            font-size: 14px;
          }
          textarea{
            font-size: 14px;
          }
          .check{
            user-select: none;
            cursor: pointer;
          }
          .submitbtn{
            background-color: #138496;
            color: #ffffff;
            transition: 0.5s ease;
            &:hover{
              opacity: 0.7;
            }
            
          }
        }
      }
      .drink{
        color: #333333;
        font-size: 14px;
        @media(max-width: 575px){
          font-size: 13px;
        }
      }
      }
      .col-md-4{
        .side-content{
          

          .search{
            @media(max-width: 991px){
              padding: 15px;
            }
            @media(max-width: 767px){
              display: none;
            }
            margin-bottom: 20px;
            // background-color: #f2f2f2;
            background-image: linear-gradient(to top, #ffffff, #fdfdfd, #fbfafb, #faf7f8, #f8f5f5);
          border-radius: 4px;
          padding: 2em;
          box-shadow: -7px -7px rgba(255,255,255,0.6),
          7px 7px 17px rgba(70,70,70,0.12);
          }

          .trending{
            // background-color: #f2f2f2;
            background-image: linear-gradient(to top, #ffffff, #fdfdfd, #fbfafb, #faf7f8, #f8f5f5);
          border-radius: 4px;
          padding: 2em;
          box-shadow: -7px -7px rgba(255,255,255,0.6),
          7px 7px 17px rgba(70,70,70,0.12);
          @media(max-width: 991px){
            padding: 15px;
          }
          @media(max-width: 767px){
            margin-top: 30px;
          }
            h5{
              color: #333333;
              margin-bottom: 20px;
            }
            .trending-list{
              ul{
                padding-left: 0;
                li{
                  margin: 20px 0;
                  list-style: none;
                  a{
                    .trending-inner{
                      display: flex;
                      align-items: center;
                      flex-direction: row;
                    }
                    .img{
                      margin-right: 10px;
                      img{
                        // width: 80px;
                        // height: 65px;
                        width: 75px;
                        height: 75px;
                        border-radius: 1px;
                      }
                    }
                    .truncate{
                     
                      p{
                        font-size: 14px;
                        color: #1E73BD;
                        margin: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                      }
                    }
                  }
                }
              }
            }
          }

          .recent-post-wrapper{
            @media(max-width: 991px){
              padding: 15px;
            }
            @media(max-width: 767px){
              margin-bottom: 30px;
            }
            margin-top: 20px;
            // background-color: #f2f2f2;
            background-image: linear-gradient(to top, #ffffff, #fdfdfd, #fbfafb, #faf7f8, #f8f5f5);
          border-radius: 4px;
          padding: 2em;
          box-shadow: -7px -7px rgba(255,255,255,0.6),
          7px 7px 17px rgba(70,70,70,0.12);

          h5{
            color: #333333;
            margin-bottom: 20px;
          }
          .recent-link{
            ul{
              list-style: none;
              padding-left: 0;
              li{
                margin: 5px 0;
                padding-bottom: 5px;
                border-bottom: 1px dotted #1E73BD;
                &:last-child{
                  border-bottom: 0px;
                }
                a{
                  font-size: 14px;
                  color: #1E73BD;
                }
              }
            }
          }
          }

        } 
       
      }
    }
  }
}

.image{
  width: 150px;
  height: 150px;
  img{
    width: 150px !important;
    height: 150px !important;
  }
}


ul{
  list-style: none;
  padding-left: 0;
}

 footer.entry-meta{
   display: flex;
   justify-content: space-between;
  }

.post-image{
  overflow: hidden;
  margin-top: 5px;
  a{
    img{
      max-width: 100% !important;
      height: auto !important;
      transition: 0.5s ease;
      &:hover{
        opacity: 0.9;
      }
    }
  }
}

.entry-title{
  line-height: 20px !important;
  margin-bottom: 15px !important;
  a{
    color: #000000 !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    @media(max-width: 1200px){
      font-size: 19px !important;
    }
    @media(max-width: 991px){
      font-size: 18px !important;
    }
  }
}

.entry-summary{
  margin-top: 20px !important;
  p{
    font-size: 14px !important;
    color: #333333 !important;
    line-height: 22px !important;
  }
}

article{
  margin-bottom: 30px !important;
  // background: #F2F2F3 !important;
  background-image: linear-gradient(to top, #ffffff, #fdfdfd, #fbfafb, #faf7f8, #f8f5f5);
  border-radius: 4px !important;
  padding: 2em !important;
  box-shadow: -7px -7px rgba(255,255,255,0.6),
    7px 7px 17px rgba(70,70,70,0.12);
    @media(max-width: 991px){
      padding: 15px !important;
    }
}

.paging-navigation{
  margin-bottom: 20px;
  // background: #F2F2F3 !important;
  background-image: linear-gradient(to top, #ffffff, #fdfdfd, #fbfafb, #faf7f8, #f8f5f5);
  border-radius: 4px !important;
  padding: 2em !important;
  box-shadow: -7px -7px rgba(255,255,255,0.6),
    7px 7px 17px rgba(70,70,70,0.12) !important;
    @media(max-width: 991px){
      padding: 15px !important;
    }
}

.back-button{
  a{
    color: #000000;
    transition: 0.5s ease;
    text-decoration: none;
    &:hover{
      color: #C20006;
    }
    i{
      color: #C20006;
    }
  }
}